{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="container mb-4">
		<h1 class="text-center mb-5">All progames avalable in Wild series</h1>
		<div>
			{{ form_start(form) }}
			<div class="w-50">
				{{ form_widget(form) }}
			</div>
			<button class="btn btn-danger">Search</button>
			{{ form_end(form) }}
		</div>

		{% for program in programs%}
			<div>
				<h2>
					{{ loop.index }}/
					{{ program.title}}
				</h2>
				<h3>Category:
					{{ program.category.name}}</h3>
				<a href="{{ path("program_show", { slug: program.slug }) }}">
					<img src="{{ program.poster }}" class=" img-fluid rounded mx-auto d-block" alt="program poster"/>
				</a>
			</div>
		{% else %}
			No program yet
		{% endfor %}
	</div>
{% endblock %}
