{% extends 'base.html.twig' %}

{% block title %}Program #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media container mt-5">
		<img src="{{ program.poster }}" class=" img-fluid rounded mx-auto d-block" alt="{{ program.title }} poster"/>
		<div class="media-body">
			<h1 class="mt-4">{{ program.title }}</h1>
			<p class="fs-5">{{ program.synopsis }}</p>
			<p class="fs-5 mt-3">Category:
				{{ program.category.name }}</p>
		</div>
		<p class="fs-5">Program country :
			{{ program.country }}</p>
		<p class="fs-5">Program year :
			{{ program.year }}</p>
		<h2>Seasons<h2>
				<ul>
					{% for season in program.seasons %}
						<a href="{{ path('season_show', {program: program.id, season:season.id}) }}">
							<li>Season n°
								{{ season.number }}</li>
						</a>
						<p class="mt-4">
							{{ season.description }}
						</p>
						<p class="mt-4">
							{{ season.description }}
						</p>
					{% endfor %}
				</ul>
				<br>
				<a href="{{ path('program_index') }}">
					Return to the program list
				</a>
			</div>
		{% endblock %}
