{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="home">
		<h1>{{ website }}</h1>
		<h2 class="text-muted mb-5">Welcome</h2>
		<div class="row">
			{% for program in programs %}
				<div class="card col-md-6 col-xl-3" style="width: 20rem">
					<img src="{{ program.poster }}" class="img-fluid rounded mx-auto d-block" alt="{{ program.title }} poster"/>
					<div class="card-body">
						<h5 class="card-title">{{ program.title}}</h5>
						<p class="card-text">{{ program.synopsis}}</p>
						<a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Watch</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
