{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="home">
		<h1>{{ website }}</h1>
		<h2 class="text-muted">Welcome</h2>
		<div class="row">
			<div class="card col col-lg-2" style="width: 18rem;">
				<img src="{{ asset('build/images/woman-sitting.png') }}" class="rounded mx-auto d-block" alt="woman on a surf board"/>
				<div class="card-body">
					<h5 class="card-title">Waiting the wave</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Watch</a>
				</div>
			</div>
			<div class="card col col-lg-2" style="width: 18rem;">
				<img src="{{ asset('build/images/woman-sitting.png') }}" class="rounded mx-auto d-block" alt="woman on a surf board"/>
				<div class="card-body">
					<h5 class="card-title">Waiting the wave</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Watch</a>
				</div>
			</div>
			<div class="card col col-lg-2" style="width: 18rem;">
				<img src="{{ asset('build/images/woman-sitting.png') }}" class="rounded mx-auto d-block" alt="woman on a surf board"/>
				<div class="card-body">
					<h5 class="card-title">Waiting the wave</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Watch</a>
				</div>
			</div>
            			<div class="card col col-lg-2" style="width: 18rem;">
				<img src="{{ asset('build/images/woman-sitting.png') }}" class="rounded mx-auto d-block" alt="woman on a surf board"/>
				<div class="card-body">
					<h5 class="card-title">Waiting the wave</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Watch</a>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
